{#
/**
 * @file
 *
 * Default template for calculator block.
 *
 * Available variables:
 * - content: Array of related details.
 *   use {{ content.layout }} for the active layout
 *
 * @ingroup themeable
 */
 #}
 <!-- Calculator Body -->
 <div class="calculator-theme-{{ content.layout }}">
 	<div class="calc-body">
 		<!-- Calculator Display Screen -->
 		<div class="calc-screen">
 			<div id="calc-operation" class="display-1">0</div>
 			<div id="calc-typed" class="display-2">0</div>
 			<div class="temp-result"></div>
 		</div>
 		<!-- Calculator Buttons -->
 		<div class="calc-button-row">
 			<button class="calc-ac all-clear">AC</button>
 			<button class="calc-button last-entity-clear">CE</button>
 			<button class="calc-opt calc-button operation">%</button>
 			<button class="calc-opt calc-button operation">/</button>
 			<button class="calc-button number">7</button>
 			<button class="calc-button number">8</button>
 			<button class="calc-button number">9</button>
 			<button class="calc-opt calc-button operation">x</button>
 			<button class="calc-button number">4</button>
 			<button class="calc-button number">5</button>
 			<button class="calc-button number">6</button>
 			<button class="calc-opt calc-button operation">-</button>
 			<button class="calc-button number">1</button>
 			<button class="calc-button number">2</button>
 			<button class="calc-button number">3</button>
 			<button class="calc-opt calc-button operation">+</button>
 			<button class="calc-button number">0</button>
 			<button class="calc-button number dot">.</button>
 			<button class="calc-opt calc-button equal">=</button>
 		</div>
 	</div>
 </div>
